
@{
    ViewData["Title"] = "Work";
}

<h1>My Work</h1>

<h1 style="font-family: Roboto, sans-serif;">
  
</h1>
<p>KhumaloCraft is a dynamic global e-commerce platform that connects local artisans 
    with an international audience, offering a digital marketplace for unique 
    handcrafted products. Designed for accessibility and ease of use, it empowers 
    artisans by providing them with personal storefronts to showcase their crafts 
    and share their stories, thereby enriching the customer experience with cultural
    and contextual depth. Customers around the world are granted unparalleled access 
    to a diverse range of authentic, high-quality crafts, each with its own story. 
    With a focus on cultural preservation, sustainability, and a seamless shopping 
    experience, KhumaloCraft is not just a marketplace but a global community 
    celebrating the art of craftsmanship.</p>

    <div style="display: flex; flex-wrap: wrap">
    <div style="width:420px; margin: 10px; " class="card shadow">

        <img src="~/images/9b042c_ca42427b01314c01b0901ad7314a708e_mv2.jpg"
             width="420"
             height="520"
             class="img-thumbnail" alt="...">
       
        Eco-Friendly Artisan Crate Chair<p>

        </p>made from reclaimed wooden crates, combines sustainability with rustic charm. It's durably crafted, stylish, and supports a green lifestyle, making it an ideal addition to any home or office looking for comfort and eco-conscious design.

            <p>

            </p>
            R500
        </p>
    </div>
    <div style="width:420px; margin: 10px;" class="card shadow">
        <img src="~/images/butternut-wood-countertop.img_-1.jpg"
             width="420"
             height="520"
             class="img-thumbnail" alt="...">
        <p>  Sustainable Wood Countertop<p>
            <p>the perfect blend of natural beauty and eco-friendly design. 
            Crafted from reclaimed wood, each countertop is unique, showcasing the rich textures and patterns of its origins.
            Durable and versatile, it's ideal for any kitchen or workspace looking to add a touch of warmth and sustainability.
            Elevate your space with our countertop that combines practicality with environmental responsibility.</p>
        </p>
        R1500
        </p>
    </div>

    <div style="width:420px; margin: 10px;" class="card shadow">
        <img src="~/images/guest_2fb62eb7-cc90-4a1b-9edd-4e957d5eb5d6.jpg"
             width="420"
             height="520"
             class="img-thumbnail" alt="...">
        <p>  Artisan Crate Chair 2.0<p>
            <p> made from reclaimed wooden crates, 
            combines sustainability with rustic charm. It's durably crafted, stylish, and supports a green lifestyle, 
            making it an ideal addition to any home or office looking for comfort and eco-conscious design.</p>
        </p>
        R700
        </p>
    </div>

    <div style="width:420px; margin: 10px;" class="card shadow">
        <img src="~/images/timeless-multi-species-bird-house-03.jpg" 
             width="420"
             height="520"
             class="img-thumbnail" alt="...">
        <p>
            Small Birdhouse, a cozy retreat for your feathered friends crafted from sustainably 
            sourced wood. Its compact design is perfect for small spaces, offering a safe haven 
            for birds to nest and thrive. With its natural finish and sturdy construction, this 
            birdhouse blends seamlessly into any outdoor space, providing a touch of rustic charm
            while promoting biodiversity. Invite nature into your garden with our environmentally 
            friendly and adorable small birdhouse.
        </p>
        </p>
        R500
        </p>
    </div>
    </div>

