@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">KhumaloCraft</h1>
    <a href="https://www.google.com">
       
        </a>.
    <p>
        <center>
            <img src="~/images/woodpeckers-craft-wood-scaled.jpg " 
        width="1280"
        height="847"
                 class="center"
        class="rounded float-start" alt="...">
    </p>
</div>
<div class="card shadow">
</div>