
@{
    ViewData["Title"] = "Contact Us";
}

<h1>Contact our customer service</h1>
<p>Contact: 
    Phone Number
    <div class="p-3 mb-2 bg-dark text-white">0900 93 94</div>

    Email Address:
    <div class="p-3 mb-2 bg-dark text-white">KhumaloCraft@yahoo.gov</div>

    Address:
    <div class="p-3 mb-2 bg-dark text-white"> 308 Negra Arroyo Lane <br></br>
        Albuquerque<br></br>
        New Mexico</div>


</p>

