
@{
    ViewData["Title"] = "About Us";
}

<h1>About Us</h1>
<p>
    KhumaloCraft is a global e-commerce platform that showcases handcraft products connecting artisans worldwide
</p>
<div style="display: flex; flex-wrap: wrap">
<div style="width:420px" class="card shadow">
<img src="~/images/rummer2.jpg"
     width="420"
     height="520" 
     class="img-thumbnail" alt="...">
    <p> Our goal is to have a webApp that is accessible</p>
</div>


    <div style="display: flex; flex-wrap: wrap">
<div style="width:420px" class="card shadow">

<div class="card Image">

</div>
<img src="~/images/unnamed.jpg"
    width="410"
    height="310"
    class="rounded float-start" alt="...">
    <p>
        Stores the artisan’s craftwork
    </p>
    </div>
        <div style="display: flex; flex-wrap: wrap">
<div style="width:420px" class="card shadow">

<img src="~/images/raven_toney_036.jpg" 
     width="410"
     height="310"
     class="rounded float-start" alt="...">
    <p>
        Allows customers globally to access and order their craftwork
    </p>
</div>

<P>

</P>

